

/* 
==========================================================================
Author's custom styles
========================================================================== 
*/

.navbar .nav > li > a { /*squeeze navbar to fit 320px h-padding 15->7 */
  padding: 10px 7px 10px;
}

#NOTUSED {  /*css gradient used as hero background*/  
background-color: #2699ff; /* Old browsers */
background: -moz-linear-gradient(top,  hsl(208,100%,51%) 0%, hsl(208,100%,81%) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,hsl(208,100%,51%)), color-stop(100%,hsl(208,100%,81%))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  hsl(208,100%,51%) 0%,hsl(208,100%,81%) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  hsl(208,100%,51%) 0%,hsl(208,100%,81%) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  hsl(208,100%,51%) 0%,hsl(208,100%,81%) 100%); /* IE10+ */
background: linear-gradient(to bottom,  hsl(208,100%,51%) 0%,hsl(208,100%,81%) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2699ff', endColorstr='#7fc3ff',GradientType=0 ); /* IE6-9 */
}

#danhero .btn { /* space down the action btn */
  margin-top:20px;
}
#danhero p { /*reset hero>p spacing*/
  margin: 0 0 2px;
  line-height: 20px;
}
p.vspace { /*vertical spacing for hero <p>*/
  padding-top:8px;
}
#danhero {
  padding:35px; /*override hero-unit padding*/

  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;

  background-position-x: 0;
  background-position-y: 0;

  /*use two background-images, when supported : transp png + gradient*/
  background-color: #2699ff; /* Old browsers */
  background-image: url('../img/about-me-trans.png');
  background-image: url('../img/about-me-trans.png'),-moz-linear-gradient(top,  hsl(208,100%,51%) 0%, hsl(208,100%,81%) 100%);
  background-image: url('../img/about-me-trans.png'),-webkit-linear-gradient(top,  hsl(208,100%,51%) 0%,hsl(208,100%,81%) 100%);
  background-image: url('../img/about-me-trans.png'),linear-gradient(to bottom,  hsl(208,100%,51%) 0%,hsl(208,100%,81%) 100%);  
}

/* 550px is the width at which we change the hero text and bg scaling */
@media (min-width: 550px){
  #danhero {
    height:250px;
    background-size:  550px,auto;
    -moz-background-size:  550px,auto;
    -webkit-background-size:  550px,auto;
    -o-background-size:  550px,auto;
  }
}

/* change the hero text @ 550px : default is visible-tiny*/
.visible-tiny {
  display: inherit !important;
}
.hidden-tiny {
  display: none !important;
}

@media (min-width: 550px) {
  .visible-tiny {
    display: none !important;
  }
  .hidden-tiny {
    display: inherit !important;
    width:50%;
  }
}

/*Blog header formatting*/
article.post header {
  background-color:#eee;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding-left:10px;
}