---
layout: default
title: Blog
---
<h1>One Hundred Hellos <small> - Blog</small></h1>


{% include pagination.html %}
{% for post in paginator.posts %}
  <article class="post">
      <header>
          <a href="{{ site.url }}{{ post.url }}" title="Permanent link to this post" rel="bookmark permalink">
              <h3>
                  <small>{{ post.date | date_to_long_string }} - </small>
                  {{ post.title }}
                  {% if post.tags.size > 0 %}
                  <small> - {{ post.tags }}</small>
                  {% endif %}
              </h3>
          </a>
          <blockquote>
              {% if post.excerpt.size > 0  %}
              <a href="{{ site.url }}{{ post.url }}" title="{{ post.title | escape }}" rel="bookmark">{{ post.excerpt }}</a>
              {% endif %}      
          </blockquote>
      </header>

    {{ post.content }}

  <footer>
      Published: {{ post.date | date: "%Y-%m-%d" }}
      &mdash;
      <a href="http://twitter.com/?status=Reading '{{ post.title }}' from {{ site.url }}{{ post.url }} by @daneroo" title="Tweet {{ page.title }}">Tweet</a> 
      &mdash;
      <a class="permalink" href="{{ site.url }}{{ post.url }}" rel="bookmark permalink" title="Permalink for {{ post.title }}">Permalink</a>
  </footer>


  </article>
{% endfor %}

{% include pagination.html %}
