<pre class="hiddenhello" id="perl">perl -e "print 'Hello, Perl!'"</pre>
<pre class="hiddenhello" id="ruby">ruby -e "puts 'Hello, Ruby!'"</pre>
<pre class="hiddenhello" id="php">&lt;?php echo "Hello, PHP!"; ?&gt;</pre>
<pre class="hiddenhello" id="scala">object HelloWorld {
    def main(args: Array[String]) {
        println("Hello, Scala!")
    }
}</pre>
<pre class="hiddenhello" id="C">printf("Hello C!\n");</pre>
<pre class="hiddenhello" id="bash">bash -c "echo 'Hello bash\!'"</pre>
<pre class="hiddenhello" id="perl">perl -e "print 'Hello, Perl!'"</pre>
<pre class="hiddenhello" id="erlang">-module(hello).
-export([start/0]).

start() ->
spawn(fun() -> loop() end).

loop() ->
receive
  hello ->
     io:format("Hello, Erlang!~n"),
     loop();

  goodbye ->
     ok
end.
</pre>
