<div class="btn-toolbar" style="text-align:center; margin-bottom: 20px">
  <div class="btn-group">
    <a class="btn btn-large  btn-inverse" href="https://github.com/daneroo"><i class="icon-github"></i></a>
    <a class="btn btn-large  btn-inverse" href="https://plus.google.com/114802956923453539423"><i class="icon-google-plus"></i></a>
    <a class="btn btn-large  btn-inverse" href="http://www.linkedin.com/pub/daniel-lauzon/12/39b/b07"><i class="icon-linkedin"></i></a>
    <a class="btn btn-large  btn-inverse" href="https://twitter.com/daneroo"><i class="icon-twitter"></i></a>
    <a class="btn btn-large  btn-inverse" href="mailto:daniel.lauzon@gmail.com"><i class="icon-mail"></i></a>
  </div>
</div>
<!-- <div class="btn-toolbar" style="text-align:center">
  <div class="btn-group">
    <a class="btn  btn-warning" href="#"><i class="icon-mail"></i></a>
    <a class="btn  btn-warning" href="#"><i class="icon-feed"></i></a>
    <a class="btn  btn-warning" href="#"><i class="icon-skype"></i></a>
    <a class="btn  btn-warning" href="#"><i class="icon-facebook"></i></a>
  </div>
</div> -->
