---
layout: default
---
<article class="post">

    <header>
        <a href="{{ site.url }}{{ post.url }}" title="Permanent link to this post" rel="bookmark permalink">
            <h3>
                {{ page.title }}
                <small> - {{ page.date | date_to_long_string }}</small>
                {% if page.tags.size > 0 %}
                <small> - {{ page.tags }}</small>
                {% endif %}
            </h3>
        </a>
        <blockquote>
            {% if page.excerpt.size > 0  %}
            <a href="{{ site.url }}{{ post.url }}" title="{{ post.title | escape }}" rel="bookmark">{{ post.excerpt }}</a>
            {% endif %}      
        </blockquote>
    </header>

  {{ content }}

  <footer>
      Published: {{ page.date | date: "%Y-%m-%d" }}
      &mdash;
      <a href="http://twitter.com/?status=Reading '{{ page.title }}' from {{ site.url }}{{ page.url }} by @daneroo" title="Tweet {{ page.title }}">Tweet</a> 
      &mdash;
      <a class="permalink" href="{{ site.url }}{{ page.url }}" rel="bookmark permalink" title="Permalink for {{ page.title }}">Permalink</a>
  </footer>

</article>
